.puzzle {
	border-collapse: collapse;
	border-color:#000000;
}

.letter-cell {
	text-align:center;
	height:40px;
	width:40px;
}

.letter-text {
	font-family:helvetica;
	font-weight:bold;
}

.list-text {
	font-family:helvetica;
}

.blank-cell {
	background-color:#000000;
}

.clickable {
	cursor:pointer;
}

.linkable {
	cursor:pointer;
	color:blue;
	text-decoration:underline;
}
.background-text {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
}

.strikeout {
	position: relative;
}

.strikeout::after {
	border-bottom: 0.250em solid blue;
	content: "";
	left: 0;
	margin-top: calc(0.125em / 2 * -1);
	position: absolute;
	right: 0;
	top: 50%;
}

.red-strikeout {
	position: relative;
}

.red-strikeout::after {
	border-bottom: 0.250em solid red;
	content: "";
	left: 0;
	margin-top: calc(0.250em / 2 * -1);
	position: absolute;
	right: 0;
	top: 50%;
}

.crossword-grid-cell-number {
	float: left;
	font-family: tahoma;
	font-size: 0.6em;
}

.relative-position {
	position: relative;
}

#answer-form {
	display: none;
	border: 2px solid black;
	font-family: tahoma;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 30em;
	height: 12em;
	margin-top: -9em;
	margin-left: -15em;
	border: 1px solid #CCCCCC;
	background-color: #F3F3F3;
}

.short-margin {
	margin: 20px;
}

.hidden {
	display: none;
}
